<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/Images/Buyback-Boss-Logo.jpg" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/BBB_header.css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div>
                    <nav class="navbar-fixed-top">
                            <a class="logo-desktop" href="#"><img src="~/Images/Buyback-Boss-Logo.png" alt="Sell and Buy Used iPhone" /></a> 
                        <ul class="nav nav-tabs" role="tablist" id="menu">
                            <li>@Html.ActionLink("HOW IT WORKS", "About", "Home")</li>
                            <li>@Html.ActionLink("PRESS & REVIEWS", "Reviews", "Home")</li>
                            <li>@Html.ActionLink("SUPPORT", "Track", "Home")</li>
                            <li>@Html.ActionLink("BLOG", "Contact", "Home")</li>
                            </ul>
                        <button type="button" class="btn btn-info" onclick="">
                            CART
                         </button>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">

            @*Will render page with first option*@
            <div id="content-container">
                @RenderSection("start", required: false)
                @RenderPage("~/Views/Checkout/Phones.cshtml")
                @RenderBody()
            </div>           
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Buyback Boss</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        
   @* <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>*@
    </body>
</html>
